<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello</title>
    </head>
    <body>
        <h1 data-th-text="${greetings}">Hello World</h1>
        <form action="" method="post">
            Message to update:
            <input type="text" name="newGreetings" size="30">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>